.container{
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  padding-bottom: 4rem;
}

.container h1{
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  font-size: 2rem;
  position: relative;
  margin-left: 30px;
  color: #85C1E9;
  border-bottom: 1px solid #85C1E9;
  width: 70px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  animation: animaSlide .3s ease-in-out forwards;
}

@keyframes animaSlide {
  from{
    transform: translateX(-20px);
    opacity: 0;
  }
  to{
    transform: initial;
    opacity: 1;
  }
}

.container h1::before{
  content: '';
  width: 10px;
  height: 10px;
  background: #85C1E9;
  position: absolute;
  left: -20px;
  top: 65%;
  border-radius: 50%;
  animation: animaShadow 5s ease-in-out infinite;
}

@keyframes animaShadow {
  0%{
    box-shadow: none;
  }
  50%{
    box-shadow: 0 0 4px 2px #85C1E9;
  }
  100%{
    box-shadow: none;
  }
}