.errorContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40px;
  background-color: #EC7063;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  animation: animaSlice 5s ease-in-out forwards;
  z-index: 999;
}

@keyframes animaSlice {
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  5%{
    transform: initial;
    opacity: initial;
  }
  95%{
    transform: initial;
    opacity: initial;
  }
  100%{
    opacity: 0;
  }
}