.formContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: rgb(250, 250, 250);
  border-radius: 20px;
  z-index: 99;
  overflow: hidden;
}

.title{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  color: #212F3D;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.title span{
  color: #85C1E9;
}

.labelItem{
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 10px;
  transition: .5s;
}

.labelItem:hover{
  box-shadow: 0 0 5px 2px#85C1E9;
}

.labelItem input{
  border: none;
  width: 250px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #85C1E9;
  border-left: none;
  padding-left: 10px;
  font-size: .75rem;
  outline: none;
}

.labelItem img{
  max-width: 40px;
  padding: 5px 10px;
  border-radius: 10px  0  0 10px;
  background-color: white;
  border: 1px solid #85C1E9;
  border-right: none;
}


.changeScreen{
  font-size: .75rem;
  transform: translate(-60px, -10px);
  margin-bottom: 1rem;
}

.changeScreen span{
  color: #85C1E9;
  cursor: pointer;
}

.sendButton{
  width: 290px;
  height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background-color: #85C1E9;
  cursor: pointer;
  transition: .5s;
}

.sendButton:hover{
  background-color: #52adea;
}