.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.title{
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.container label{
  width: 350px;
  color: rgb(20, 20, 20);
  margin-bottom: 1rem;
}

.container label p{
  margin-bottom: 3px;
}

.selectInput,
.textInput,
.selectInputDifferent{
  width: 100%;
  padding:  0 8px;
  height: 35px;
  border: 2px solid #85C1E9;
  outline: none;
  transition: .5s;
  color: rgb(90, 90, 90);
  
}

.textInput{
  border-radius: 10px;
}

.selectInput,
.selectInputDifferent{
  border-radius: 10px 0 0 10px ;
}

.selectInputDifferent{
  margin-top: .5rem;
  animation: animaDown .5s forwards ease-in-out;
}

@keyframes animaDown {
  from{
    transform: translateY(-10px);
    opacity: 0;
  }
  to{
    transform: initial;
    opacity: initial;
  }
}

.buttonContainer{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.confirmButton,
.confirmButtonDisabled,
.backButton{
  background: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: .9rem;
  transition: .5s;
  margin-top: 2rem;
  color: white;
  border: 2px solid;
  opacity: .75;
}

.confirmButton:hover,
.backButton:hover{
  opacity: 1;
}

.confirmButtonDisabled{
  cursor: not-allowed;
  background-color: #adcce0;
  color: white;
}


@media (max-width: 380px) {
  .container{
    padding: 10px;
    text-align: center;
  }
  .selectInput,
  .textInput,
  .selectInputDifferent{
    width: 320px;
  }
}